In [58]:
# Step 1: Import libraries
%pip install pandas numpy

import pandas as pd
import numpy as np

df = pd.read_csv(r"D:\Assigment Tilani madam\bank-full.csv", sep=";")

Requirement already satisfied: pandas in c:\users\chathumin induwara\appdata\local\programs\python\python312\lib\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\chathumin induwara\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chathumin induwara\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\chathumin induwara\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\chathumin induwara\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\chathumin induwara\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [59]:
#Step 2: Loading the Dataset
df=pd.read_csv("bank-full.csv", sep=";") #sep=';' tells pandas to split columns at semicolons instead of commas when reading the CSV.

In [60]:
# Step 3: Inspect data
print(df.head()) #Displays first few collumns of dataset

  age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0  58,management,married,tertiary,no,2143,yes,no,...
1  44,technician,single,secondary,no,29,yes,no,un...
2  33,entrepreneur,married,secondary,no,2,yes,yes...
3  47,blue-collar,married,unknown,no,1506,yes,no,...
4  33,unknown,single,unknown,no,1,no,no,unknown,5...

In [61]:
# Step 4: Handle missing values

In [62]:
# In this dataset, missing values are usually marked as 'unknown'
df.replace('unknown', np.nan, inplace=True)

In [63]:
print(df.isnull().sum())  # Check missing values

age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y    0
dtype: int64

In [64]:
# Handle numeric columns with mean
numeric_cols = df.select_dtypes(include='number').columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

# Handle categorical columns with mode
categorical_cols = df.select_dtypes(include='object').columns
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

In [65]:
df.isnull().sum().sum() #we will check again for missing values

np.int64(0)

In [66]:
# Step 5: Convert categorical columns to category data type
for col in categorical_cols:
    df[col] = df[col].astype('category')

In [67]:
# Step 6: Feature engineering

# Re-read the CSV with correct separator (comma) and header
df = pd.read_csv("bank-full.csv", sep=",")  # Use sep="," for comma-separated values

# Create age groups
df['age_group'] = pd.cut(df['age'].astype(int), bins=[17,25,35,45,55,65,100],
                         labels=['18-25','26-35','36-45','46-55','56-65','65+'])
# Group ages into categories like 18-25, 26-35, etc.

In [68]:
# Convert target to numeric for easier analysis
df['y_numeric'] = df['y'].apply(lambda x: 1 if x=='yes' else 0)
# Change 'y' from yes/no to numbers (yes=1, no=0) for easier analysi

In [69]:
#Step 7 = Demonstrating the Use of queries to effectively summarize and group the data

In [70]:
# Example 1: Count of customers by job
job_counts = df.groupby('job', observed=True)['y'].count()
print("Number of customers by job:\n", job_counts)

Number of customers by job:
 job
admin.           5171
blue-collar      9732
entrepreneur     1487
housemaid        1240
management       9458
retired          2264
self-employed    1579
services         4154
student           938
technician       7597
unemployed       1303
unknown           288
Name: y, dtype: int64

In [71]:
# Example 2: Average balance by education level
avg_balance_education = df.groupby('education', observed=True)['balance'].mean()
print("\nAverage balance by education level:\n", avg_balance_education)

Average balance by education level:
 education
primary      1250.949934
secondary    1154.880786
tertiary     1758.416435
unknown      1526.754443
Name: balance, dtype: float64

In [72]:
# Example 3: Number of customers with housing loan by marital status
housing_marital = pd.crosstab(df['marital'], df['housing'])
print("\nHousing loan status by marital status:\n", housing_marital)

Housing loan status by marital status:
 housing      no    yes
marital
divorced   2300   2907
married   11893  15321
single     5888   6902

In [73]:
# Example 4: Campaign statistics by outcome
campaign_stats = df.groupby('poutcome', observed=True)['campaign'].agg(['count', 'mean', 'max'])
print("\nCampaign statistics by previous outcome:\n", campaign_stats)

Campaign statistics by previous outcome:
           count      mean  max
poutcome
failure    4901  1.980820   15
other      1840  2.461413   16
success    1511  1.806089   11
unknown   36959  2.921886   63

In [74]:
#saving the dataset
df.to_csv("bank-full-cleaned_data.csv", index=False)